<footer class="footer">
	<div>
		<section>
			<a href="{{ .Site.BaseURL }}" alt="Back to homepage" class="logo">{{- partial "logo.html" . -}}</a>
		</section>
		<section class="footerDetails">
			<ul>
				<li>
					{{ .Site.Title }} {{ now.Year }}
				</li>
				<li>
					80 Gayton Road, Harrow, HA1 2LS
				</li>
				<li>
					<a href="tel:+442084274688">T: 0208 427 4688</a>
				</li>
				<li>
					E: admin@harmonyprimaryschool.co.uk
				</li>
			</ul>
		</section>
		<section>
			<a href="{{ .Site.BaseURL }}" alt="Back to homepage" class="psheAssocicationLogo">{{- partial "psheAssocicationLogo.html" . -}}</a>
		</section>
	</div>
</footer>