<footer class="footer">
	<section class="footerLogos">
		<div>
			<a href="{{ .Site.BaseURL }}" alt="Back to homepage" class="logo">{{- partial "logo.html" . -}}</a>
		</div>
		<section>
			<div>
				<a href="https://www.anti-bullyingalliance.org.uk/" alt="To Anti-Bullying Alliance" class="ABALogo">{{- partial "ABALogo.html" . -}}</a>
			</div>
			<div>
				<a href="https://www.pshe-association.org.uk/" alt="To PSHE Association" class="psheAssocicationLogo">{{- partial "psheAssocicationLogo.html" . -}}</a>
			</div>
		</section>
	</section>
	<section>
		<div class="footerDetails">
			<ul>
				<li>
					{{ .Site.Title }} {{ now.Year }}
				</li>
				<li>
					80 Gayton Road, Harrow, HA1 2LS
				</li>
				<li>
					<a href="tel:+442084274688">T: 0208 427 4688</a>
				</li>
				<li>
					E: admin@harmonyprimaryschool.co.uk
				</li>
			</ul>
		</div>
	</section>
</footer>