<header class="header">
	<a href="{{ .Site.BaseURL }}" alt="Back to homepage" class="logo">{{- partial "logo.html" . -}}</a>
	<button onclick="showMenu()" class="open-menu button">Menu</button>
	<nav id="main-nav">
		<button onclick="hideMenu()" class="close-menu button">x</button>
		<ul>
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
					<li class="sub-menu{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
						{{ .Pre }}
						<div>{{ .Name }}</div>
						<ul class="sub">
							{{ range .Children }}
							<a href="{{.URL}}"><li{{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}> {{ .Name }} </li></a>
							{{ end }}
						</ul>
					</li>
					{{end}}
			{{end}}
			<a class="login button">Log In</a>
		</ul>
	</nav>
</header>
<script>
    function showMenu() {
		document.querySelector('#main-nav').classList.add('visible')
	}

	function hideMenu() {
		document.querySelector('#main-nav').classList.remove('visible')
	}
</script>